@import "tailwindcss";


/* purple: #8f4ded */
/* dark purple: #8b49e9 */
body{
  background-color: #121314;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.noise-bg{
  background-image: url('/public/noisyBlack.png');
  background-size: 100px;
  background-repeat: repeat;
  opacity: 1;
  pointer-events: none;
}

.noise-bg-pointer{
  background-image: url('/public/noisyBlack.png');
  background-size: 100px;
  background-repeat: repeat;
  opacity: 1;
  
}

/* Marquee */

@keyframes scrollLeft{
  from{}

  to{
    left: -200px;
  
  }
}

@keyframes scrollDown {
  0% {
    top: -200px;
  }
  100% {
    top: 120%; 
  }
}

.mask-fade-right {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}



.wrapper {
  height: 100px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}


.item{
  /* width: 200px; */
  object-fit: cover;
  position: absolute;
  /* left: 150%; */
  top:40%;
  animation-name: scrollLeft;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.itemIcon{
  width: 170px;
  object-fit: cover;
  
  left: 250%;
  top:40%;
  animation-name: scrollDown;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.item1{
  animation-delay: calc(20s/5 * (5 - 1) * -1);
} 
.item2{
  animation-delay: calc(20s / 5 * (5 - 2) * -1);
}
.item3{
  animation-delay: calc(20s / 5 * (5 - 3) * -1);
}
.item4{
  animation-delay: calc(20s / 5 * (5 - 4) * -1);
}
.item5{
  animation-delay: calc(20s / 5 * (5 - 5) * -1);
}



@media (max-width: 600px) { 
  .mobile-W{
    margin: 5px;

    display: block;
    
  }
  .heading{
    margin-top: 20px;
    font-size: 40px;
    max-width: 90vw;
    line-height: 45px;
  }
  .para{
    max-width: 80vw;
    font-weight: 400;

  }
  .box{
    
    padding: 10px;
    
    
  }
  .image{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
  } }